.brace-canvas-wrapper {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 90px;
  height: 220px;
  pointer-events: none;
  z-index: 25;
}

.brace-canvas-left {
  right: calc(100% + 10px);
}

.brace-canvas-right {
  left: calc(100% + 10px);
}

/* Hide when there's no room beside the form */
@media (max-width: 900px) {
  .brace-canvas-wrapper {
    display: none;
  }
}
